.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.shadowBox {
  box-shadow: black 3px 3px 5px;
}

.optionBox {
  box-shadow: black 0px 0px 5px 1px;
}

@media (max-width: 960px) {
  #display {
    flex-direction: column-reverse;
  }
}