.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  cursor: pointer;
}

.drum-pad:active {
  background-color: crimson !important;
  box-shadow: none;
}

.shadowBox {
  box-shadow: black 3px 3px 5px;
}

.activePad {
  background-color: crimson;
  box-shadow: none;
}

.optionBox {
  background-color: #424242;
  box-shadow: black 0px 0px 5px 1px;
}

@media (max-width: 960px) {
  #display {
    flex-direction: column-reverse;
  }
  .checkForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}